@import "tailwindcss";
import googlefonts from 'googlefonts'
h1 {
    font-size: 5rem;
  }
  
  p,
  li {
    line-height: 1.5;
    font-size: 1.6rem;
  }
  strong,
em {
  color: #a60000;
}
abbr {
    color: #a60000;
  }
  a {
    color: #ff0000;
  }
  
  a:hover,
  a:visited,
  a:focus {
    color: #a60000;
    text-decoration: none;
  }
  
  a:active {
    color: #000000;
    background-color: #a60000;
  }