* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #d1e5fe;
  --page: #f5f0ec;
  --button-hover1: #9863ee;
  --button-hover2: #e5c6ff;
  --button-hover3: #f598ad;
}

/* ----------------------------- 
       CARINA - HEADER
---------------------------------
*/

/* ----------------------------- 
        KAUSAR - CARDS
---------------------------------
*/

/* ----------------------------- 
          ARTA - FORM
---------------------------------
*/

/* ----------------------------- 
         SARA - FOOTER 
---------------------------------
*/
