@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Base styles with accessibility considerations */
:root {
  --primary-color: #042778;
  --background-color: rgb(213, 233, 250, 0.5);
  --accent-color: #0073e6;
  --selected-bg-color: #cce4ff;
  --white-color: white;
  --error-color: #e74c3c;
  --success-color: #27ae60;
  --focus-outline-color: #00509e;
  --focus-outline: 2px solid var(--focus-outline-color);
  --text-color: #042778;
  --border-color: #054fb9;
  --transition-speed: 0.3s;
}

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Base styles */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Base sizes */
h1 {
  font-size: 1.5rem;
  /* 24px */
}

h2 {
  font-size: 1.25rem;
  /* 20px */
}

h3 {
  font-size: 1.125rem;
  /* 18px */
}

p,
legend,
label {
  font-size: 1rem;
  /* 16px */
}

nav a {
  font-size: 1.125rem;
  /* 18px  */
}

/* Skip link  */
.skip-link {
  position: absolute;
  top: -2.5rem;
  left: 0;
  background: var(--accent-color);
  color: var(--white-color);
  padding: 0.5rem;
  z-index: 100;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 0;
  outline: var(--focus-outline);
  outline-offset: 2px;
}

:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 2px;
  border-radius: 2px;
}

/* Header */
#header {
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 2rem 0;

}

#header .header-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

#header h1 {
  color: var(--white-color);
  margin: 0;
}

#header nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
}

#header nav a {
  color: var(--white-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: opacity var(--transition-speed);
}

#header nav a:hover {
  text-decoration: underline;
}

/* Quiz instructions*/
#accessibility-quiz {
  margin: 5% 20%;
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
}

#accessibility-quiz h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.quiz-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  color: var(--text-color);
  margin: 1rem auto;
  max-width: 600px;
  width: 100%;
  padding: 1rem;
  border-radius: 0 4px 4px 0;
}

.quiz-instructions p {
  text-align: center;
}

.info-image {
  background: var(--white-color);
  padding: 1rem;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*Quiz card*/
.quiz-card {
  display: none;
}

.quiz-card.active {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 600px;
  text-align: left;
}

fieldset {
  border: none;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
}

legend {
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
  color: var(--text-color);
  border-radius: 4px;
}

input {
  text-align: left;
}

input[type="radio"] {
  cursor: pointer;
  accent-color: var(--primary-color);
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: top;
  margin-top: 5px;
}

label {
  padding-left: 8px;
  margin-bottom: 8px;
  width: 85%;
}

input[type="radio"]+label {
  display: inline-block;
  word-wrap: break-word;
}

input[type="radio"]:hover {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

/*Style for navigation w. keyboard*/
input[type="radio"]:checked+label {
  background-color: var(--selected-bg-color);
  border-radius: 4px;
}

input[type="radio"]:focus-visible+label {
  outline: var(--focus-outline);
  border-radius: 4px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.nav-buttons button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  width: 6rem;
  border: 2px solid rgba(248, 248, 249, 0);
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: var(--accent-color);
  border: var(--focus-outline);
}

.next-btn:active,
.prev-btn:active {
  transform: scale(0.98);
}

.next-btn:focus-visible,
.prev-btn:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

/*Summary card*/
#summary-card h2 {
  text-align: center;
  margin: 0 auto 0.75rem auto;
}

#summary-card h3 {
  text-align: center;
  word-wrap: break-word;
  margin: 2rem auto 0.5rem auto;
}

#summary-card p {
  text-align: center;
  margin: 0 auto 0.5rem auto;
}

#restart-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  width: 8rem;
  border: 2px solid rgba(248, 248, 249, 0);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;

}

#restart-btn:hover {
  background-color: var(--accent-color);
  border: var(--focus-outline)
}

#restart-btn:active {
  transform: scale(0.98);
}

#restart-btn:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

.error-message {
  font-size: 1rem;
  font-weight: 600;
  color: var(--error-color);
}


/* About page*/
.noinfo-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

}

#introduction h2 {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

#introduction p {
  max-width: 800px;
  margin: 0 auto 2rem;
}

/*.button-back {
  display: block;
  background-color: var(--primary-color);
  width: fit-content;
  text-decoration: none;
  color: var(--white-color);
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  border: 4px solid rgba(248, 248, 249, 0);
  cursor: pointer;
}

.button-back:hover {
  background-color: var(--accent-color);
  border: var(--focus-outline)
}

.button-back:active {
  transform: scale(0.98);
}

.button-back:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 2px;
}*/

/* Footer */
.footer-content {
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 2rem 0;
  margin-top: 2rem;
}

footer nav ul {
  list-style: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: flex;
  gap: 4rem;
  justify-content: center;
  background-color: var(--primary-color);
}

nav a {
  color: var(--white-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/*Media Queries*/
@media (min-width: 320px) and (max-width: 480px) {

  #header .header-content {
    flex-direction: column;
  }
}

/* 480px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
  #header .header-content {
    flex-direction: column;
  }

  #header h1 {
    font-size: 1.625rem;
    /* 26px */
  }

  #header nav a,
  footer nav a {
    font-size: 1.25rem;
    /* 20px */
  }

  .quiz-instructions {
    width: 90%;
  }

  h2 {
    font-size: 1.375rem;
    /* 22px */
  }

  p,
  legend,
  label {
    font-size: 1.125rem;
    /* 18px */
  }

  .nav-buttons button {
    width: 7.5rem;
  }

  #restart-btn {
    width: 9rem;
  }
}

/* 768px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  #header .header-content {
    flex-direction: column;
  }

  #header h1 {
    font-size: 1.625rem;
    /* 26px */
  }

  #header nav a,
  footer nav a {
    font-size: 1.375rem;
    /* 22px */
  }

  .quiz-instructions {
    padding: 2em;
  }

  .quiz-instructions p,
  #introduction p {
    text-align: left;
  }

  h2 {
    font-size: 1.375rem;
    /* 22px */
  }

  p,
  legend,
  label {
    font-size: 1.125rem;
    /* 18px */
  }

  .quiz-card.active p {
    text-align: left;
  }

  .nav-buttons button {
    width: 7.5rem;
  }

  #restart-btn {
    width: 9rem;
  }

  #summary-card h2,
  #summary-content h3,
  #summary-content p {
    text-align: left;
  }

}

@media (min-width: 1024px) {
  #header h1 {
    font-size: 1.75rem;
    /* 28px */
  }

  #header nav a,
  footer nav a {
    font-size: 1.375rem;
    /* 22px */
  }

  .quiz-instructions {
    padding: 2rem;

  }

  h2 {
    font-size: 1.5rem;
    /* 24px */
  }

  p,
  legend,
  label {
    font-size: 1.25rem;
    /* 20px */
  }

  .quiz-instructions p,
  #introduction p {
    text-align: left;
  }

  .nav-buttons button {
    width: 7.5rem;
  }

  #restart-btn {
    width: 9rem;
  }

  #summary-card h2,
  #summary-content h3,
  #summary-content p {
    text-align: left;
  }

  footer nav ul {
    justify-content: flex-end;
    gap: 4rem;
    padding-right: 15rem;
  }
}