* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #d1e5fe;
  --page: #f5f0ec;
  --button-hover1: #9863ee;
  --button-hover2: #e5c6ff;
  --button-hover3: #f598ad;
}

/* ----------------------------- 
       CARINA - HEADER
---------------------------------
*/

/* ----------------------------- 
        KAUSAR - CARDS
---------------------------------
*/

/* ----------------------------- 
          ARTA - FORM
---------------------------------
*//* Form elements */
#adoption-form {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #f8fafc;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    display: block;
}



/* ----------------------------- 
         SARA - FOOTER 
---------------------------------
*/
