* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
:root {
  --background: #d1e5fe;
  --page: #f5f0ec;
  --button-hover1: #9863ee;
  --button-button: #e5c6ff;
  --button-hover2: #f598ad;
  --button-button: #FDC6D4;
  --transition: 0.4s ease-in-out;
}

/* ----------------------------- 
        BODDY -
---------------------------------
*/
.hero{
  position: relative;
  background-size: cover;
  overflow: hidden;
}

#img{
  height: 850px;
  
}
/* ----------------------------- 
       CARINA - HEADER
---------------------------------
*/

.body{
  display: flex;
  background-color: var(--background);
  padding-bottom: 40px;
  height: 100vh;
  

}

/*navigation*/
.nav{
  background-color: #f598ad; /*var(--background);*/
  height: 100px;
  padding-top: 40px;
  

}

/*pawprint*/
.icon{
  fill: var(--button-hover1);
  color: var(--button-hover1);
}
.page-icon {
  display: flex;
}

/*nav/menu buttons*/
#buttons{
  display: flex;
  justify-content: space-evenly;
 
}

#button{
  background-color: var(--page);
  border: none;
  border-radius: 40px;
  height: 30px;
  width: 70px; 
  cursor: pointer;

}
#button:hover{
  background-color: var(--button-hover1);
  color: #fff;
  border: none;
  border-radius: 40px;
  height: 30px;
  width: 70px; 
  transition: var(--transition)
}
.nav-items{
  height: 40px;

}




/* ----------------------------- 
        KAUSAR - CARDS
---------------------------------
*/

.dogs-card {
  max-width: 1000px;
  margin: 0 auto;
}

.dogs-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.dog-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 0 20px 0;
  box-shadow: -7px 10px 20px #d1e5fe80;
  transition: all 0.5s ease;
}

.dog-card:hover {
  transform: scale(1.02);
}

.dog-card-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.dog-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.dog-card-title {
  padding: 15px 0;
}

.tag {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
}

.tag-Friendly {
  background-color: #ff6b6b;
}
.tag-Playful {
  background-color: #ffd6a5;
}
.tag-Loyal {
  background-color: #fdffb6;
}
.tag-Gentle {
  background-color: #caffbf;
}
.tag-Calm {
  background-color: #9bf6ff;
}
.tag-Protective {
  background-color: #a0c4ff;
}
.tag-Energetic {
  background-color: #bdb2ff;
}
.tag-Affectionate {
  background-color: #ffc6ff;
}
.tag-Obedient {
  background-color: #fffffc;
}
.tag-Curious {
  background-color: #f06595;
}

.dog-card-icon {
  fill: var(--background);
  /* color: var(--background); */
  width: 20px;
}

.dog-card-flexbox {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
}

.dog-card-text {
  font-size: 14px;
}

.dog-card-bold {
  font-weight: bold;
}

/* ----------------------------- 
          ARTA - FORM
---------------------------------
*/

/* ----------------------------- 
         SARA - FOOTER 
---------------------------------
*/
